[2013-11-08 15:11] scottyab opened #1 "Encrypt key with Androidkeystore key"
Add the option for developers to enable additional security on API:18+ using the Androidkeystore.

Androidkeystore is for RSA (and EC since  4.4) certs so use a newly generated one to encrypt the keys used for the key and value encryption

[2013-11-08 15:24] scottyab opened #2 "Get a user pin/password to generate the enc keys"
Add the option for developers to enable additional security by prompted users for pin code to derive the key and only keep in memory which is cleared on app exit.

[2013-11-08 16:09] scottyab opened #3 "Create a branch with SpongyCastle"
using SpongyCastle we can use a strong AES mode such as GCM

[2013-11-12 14:56] #3 closed, assigned to nobody

[2014-01-09 15:43] scottyab opened #4 "Include the secure random fix"
as noted here http://android-developers.blogspot.co.uk/2013/08/some-securerandom-thoughts.html and in gist https://gist.github.com/scottyab/6498556

[2014-02-10 03:30] yelinaung opened #5 "Gradle build"
I'm using this library in my project and I've ported the library to gradle.
Do you like to have Gradle-compatible build ? If so, I will port sample as well.
Thanks.

[2014-02-25 10:53] doridori opened #6 "`SecurePreference.getStringUnencrypted()` misleading naming"
I think it would be good to rename this method as its a little misleading - as actually it will return the raw string from the prefs - which will be encrypted. To me a better name would be **`SecurePreference.getStringUndecrypted()`** || **`SecurePreference.getEncryptedString()`**

[2014-11-04 14:28] #5 closed, assigned to nobody

[2014-11-04 14:30] scottyab opened #8 "add optional Play services getSecurityProvider()"
Make use of the new security providers that Google have included in to their Google Play services

[2015-03-04 08:55] Dnyanoba-Kantode opened #11 "Security scan fail"
Hi Scott,

After security scan by our tool this lib get failed because follows threat is found.

Description: This cryptographic object is initialized with the cipher spec 'AES', which uses the known risky ECB cipher mode. Because ECB encrypts each block of plaintext independently, the resulting ciphertext is susceptible to dictionary attacks.
Remediation: Use CBC or CTR mode instead. Consult the

[2015-03-04 09:01] scottyab commented on #11
Thanks Dan, I'll look into

[2015-03-04 17:09] scottyab commented on #11
So... i did include the stronger algorithms https://github.com/scottyab/secure-preferences/blob/master/library/src/com/securepreferences/SecurePreferences.java#L68, namely AES/CBC/PKCS5Padding and prefered AES-GCM however ran in some issues on older devices not having them available. I'll change to default to AES/CBC/PKCS5Padding but maintain backwards compatibility add an option to use default 'A

[2015-03-04 17:23] scottyab commented on #8
I misunderstood this new feature in Google play services. https://developer.android.com/training/articles/security-gms-provider.html unless i'm mistaken it's more for network based commutations and web view, not crypto providers.

[2015-03-04 17:23] #8 closed

[2015-03-06 05:46] Dnyanoba-Kantode commented on #11
Thank you very much scott. I will look into it.

[2015-04-10 15:59] scottyab commented on #11
fixed in v0.1.0

[2015-04-10 15:59] #11 closed

[2015-04-10 15:59] scottyab commented on #4
fixed in v0.1.0

[2015-04-10 15:59] #4 closed

[2015-04-10 15:59] scottyab commented on #2
fixed in v0.1.0

[2015-04-10 15:59] #2 closed

[2015-04-10 15:59] scottyab commented on #6
fixed in v0.1.0

[2015-04-10 15:59] #6 closed

[2015-04-10 16:01] scottyab opened #12 "Make v0.1.0 backward compatible with <v0.4.0"
Write to migration utils to help developers move existing <v0.4.0 to use the new crypto and features in v0.1.0+

[2015-04-12 00:53] cartierjf opened #13 "Put v0.1.0 on maven central"
Only 0.0.4 is available with gradle

[2015-04-12 07:45] scottyab commented on #13
Yes, you're right, published this morning and also tagged and uploaded aar to github releases. Will close this once changes are propagated to all servers.

[2015-04-12 16:21] cartierjf commented on #13
it's available on maven central now. You can update your doc in confidence and then you're good to close this issue!

[2015-04-13 12:27] jitpack-io commented on #13
Btw, guys, it's also very easy to get the latest GitHub release with JitPack.io. No need to upload anything. Here's v0.1.0: https://jitpack.io/#scottyab/secure-preferences/v0.1.0 : )

[2015-04-16 09:35] aldur commented on #13
Even if v0.1.0 is on Maven Central, how do you handle [aes-crypto](https://github.com/scottyab/java-aes-crypto) dependency?
I end up getting: `Could not find com.scottyab:aes-crypto:0.0.2-SNAPSHOT.`

[2015-04-17 03:12] Laimiux commented on #13
For time being, add
repositories {
    maven {
        url "https://oss.sonatype.org/content/repositories/snapshots"
    }
}
and
dependencies {
    // Secured preferences
    compile 'com.scottyab:aes-crypto:0.0.2-SNAPSHOT'
    compile('com.scottyab:secure-preferences-lib:0.1.0') {
        provided 'com.scottyab:aes-crypto:0.0.2-SNAPSHOT'
    }
}

[2015-04-20 08:37] scottyab commented on #13
Apologies chaps, I'll sort that aes-crypto dependancy soon. It's my fork and I was waiting for the repo owner to accept my PR.

[2015-04-29 15:19] barbosa opened #15 "Typo in method name?"
Would you mean `destroyKeys()` instead of `destoryKeys()`?

https://github.com/scottyab/secure-preferences/blob/master/library/src/main/java/com/securepreferences/SecurePreferences.java#L197

[2015-05-28 14:02] ntarocco opened #16 "Use secure-preferences with Robolectric"
I am using secure-preferences to encrypt my local preferences. However, when using Robolectric to run unit tests, the preferences are not correctly filled in, and when trying to check if the key is contained in the file, it is always empty.

My app code for the shared prefs:

    public class AppSharedPrefs {
        private ApplicationSharedPreferences(Context context) {
            sSharedPrefer

[2015-05-28 14:05] scottyab commented on #16
Not tried with Robolectric (will add to my todo), just a quick question `clearSharedPreferences();` is called in your `ApplicationSharedPreferences` constructer, is this clearing them?

[2015-05-28 14:47] ntarocco commented on #16
0.0.4, I can try to see if with the version 0.1.0 the problem is not reproducible...

[2015-06-12 04:35] gabrielacosta commented on #13
Thank you Laimiux for your answer. Scott nice library, I think you should put Laimiux answer in the main page, because, most of us are using graddle and it will be easy meanwhile you sort the issues with the dependencies.

[2015-06-15 13:19] scottyab commented on #16
Are you sure you're tests are being correctly cleared down afterwards? I found with the unit tests I wrote in the lib, i had to manually delete the created pref xml files between tests otherwise it would reuse.

[2015-06-15 13:24] scottyab commented on #13
Hey @gabrielacosta, done, but i'll need to go one better and sort it properly and remove the snapshot repo dependancy. I will just publish my fork to Maven Central as aes-crypto owner doesn't seem to have done that yet (even thought they have accepted my PR).

[2015-06-24 15:23] hishamBakr opened #17 "how to use AES256 instead of AES 128"
Thank you for the great library. I suggested using this library in our project but security team gave me this comment. Please advise.

For local storage of the user passwords use at least AES 256 minimum not 128.
When using  PKCS5, verify that the implementation does not allow for Oracle padding attacks in that the responding side does not leak padding validation to the client. See the following
h

[2015-06-26 10:43] scottyab commented on #17
Thanks for your/security teams comments... that list sound more of a generic check list rather than specific to this lib? (i may of misunderstood)

I felt generally 128 is as strong enough it's just generally people tend to 'require' maybe without understanding the differences/benefits, here's a good [blog](https://blog.agilebits.com/2013/03/09/guess-why-were-moving-to-256-bit-aes-keys/) about it.

[2015-06-28 11:24] hishamBakr commented on #17
Thank you very much for your reply :)

[2015-06-28 11:24] #17 closed

[2015-07-01 08:37] scottyab commented on #13
This is all sync'd up correctly in v0.1.1

`compile 'com.scottyab:secure-preferences-lib:0.1.1`

[2015-07-01 08:37] #13 closed

[2015-07-08 09:48] cermakcz opened #18 "Using PBKDF2WithHmacSHA1 with 10k iterations and 48B output is too slow"
I'd very much like to use this library, but the initialization of the key takes 3 seconds on my Nexus 5. Since this is done in Application's onCreate (because I need the settings there), it's not usable.

I understand that you're trying to make it as easy to use and as secure as possible, but would you consider allowing users of the library to provide their own key? Since the encryption is really

[2015-07-08 18:30] scottyab commented on #18
wow, 3 seconds, i didn't know it was that long. Maybe some kind of lite mode option would suitable or as you suggest providing own key could be good. I'll review that post.

[2015-07-13 01:42] gabrielacosta opened #19 "Could not find com.scottyab:aes-crypto:0.0.2-SNAPSHOT"
Hi Scott,

I was using your library with this configuration in Graddle.

compile 'com.scottyab:aes-crypto:0.0.2-SNAPSHOT'
    compile('com.scottyab:secure-preferences-lib:0.1.0') {
        provided 'com.scottyab:aes-crypto:0.0.2-SNAPSHOT'
    }

It was working fine until last week. I got an error that aes-crypto:002-SNAPSHOT cannot be found.

Could you please check this.

Kind regards,

G

[2015-07-13 07:34] scottyab commented on #19
Hey, I've fixed/removed the dependancy on the SNAPSHOT repo, please use

`compile 'com.scottyab:secure-preferences-lib:0.1.1'`

[2015-07-13 12:00] BhimAle opened #20 "putStringSet Throws error"
While I use  editor.putString it is working well ,
but when I tried to use  editor.putStringSet, app crashes giving following error :

     Caused by: java.lang.ClassCastException: java.util.HashMap cannot be cast to java.lang.String.

I am adding Arraylist in set. It works well if I donot try to encrypt the data. Gives error if I use it.

Am I missing something.
THank YOu

[2015-07-14 21:03] IgorGanapolsky commented on #19
I am having the same issue now.  `compile 'com.scottyab:secure-preferences-lib:0.1.1'`.  Please advise!

[2015-07-15 07:18] scottyab commented on #19
Hi @IgorGanapolsky,  Just to confirm `compile 'com.scottyab:aes-crypto:0.0.2-SNAPSHOT'` has been promoted to production repo. So omit the -SNAPSHOT.

But for Secure Preferences please remove the previous config:

`compile 'com.scottyab:aes-crypto:0.0.2-SNAPSHOT'
compile('com.scottyab:secure-preferences-lib:0.1.0') {
provided 'com.scottyab:aes-crypto:0.0.2-SNAPSHOT'
}`

replaced with
`compile 'com.

[2015-07-15 07:39] scottyab commented on #20
Hey @BhimAle, Sorry to hear you're seeing an issue. I've just written a [unit test](https://github.com/scottyab/secure-preferences/commit/b7d79d794ce14a7bce84671c29fb75a350eaf327) for test the putStringSet and it seems to pass aok.

When you say "It works well if I donot try to encrypt the data."  Are you saying your using the same pref file for encrypted and non-encrpyted values if not that's **n

[2015-07-15 07:55] scottyab commented on #18
Hey @cermakcz Confirmed. I'm seeing init time of 4.4s on nexus 4. Let's make suppling your own key an enhancement. I'd welcome PR if you have time, otherwise I'd add to my todo.

[2015-07-15 09:57] shaunidiot commented on #18
Can confirm. Lags on Asus Zenphone 2 and Samsung devices. Starting an activity and retrieving 2 strings from SecurePreferences takes about 7 seconds for the app to actually do something after that. Been using this library from v0.0.4 so I'm reverting back just for now (no hate for this version though!). Hopefully, something can be done about it! Good luck! And thanks! :+1:

[2015-07-15 13:10] IgorGanapolsky commented on #19
0.1.1 works, thanks.

[2015-07-15 13:12] scottyab commented on #19
ok great, i think this is the same issue @gabrielacosta is having.

[2015-07-15 13:12] #19 closed

[2015-07-15 13:44] IgorGanapolsky opened #21 "Cannot instantiate SecurePrefs in testing"
Hi
I am trying to write unit tests, one of which requires an instance of SecurePreferences.  So I am passing a context like this:
`        mContext = Mockito.mock(Context.class);`
`        securePreferences = new SecurePreferences(mContext);`

However, the context isn't mocked, and as a result I cannot use SecurePrefs in testing.  Do you have any ideas about this?

[2015-07-15 18:02] scottyab commented on #21
I've not used Mockito, can you test the standard Shared Preferences ok? if so could you paste a code sample or link to example. thx

[2015-07-15 18:59] IgorGanapolsky commented on #21
The error actually happens because I am running my unit tests on the JVM, and hence don't access to a Context (which SecurePreferences requires.

[2015-07-15 19:51] scottyab commented on #21
Ok, understood. But my question still stands if you can show me a test with config working using the standard Shared Preferences then I can see about getting securePreferences working. However if you cannot test standard Shared Preferences then this is not something this library is going to be able to solve.

[2015-07-15 20:22] #21 closed

[2015-07-15 21:34] pivotal-csaa-dev commented on #16
We saw the same issue. We worked around it by manually setting the private static SharedPreferences field to null before each test. So, the root issue is because the SecurePreferences class uses the static field, so suppling a different filename will get ignored if SecurePreferences was instantiated with a different file name in a test that ran before this one. We suspect that the sFile variable b

[2015-07-15 21:37] pivotal-csaa-dev opened #22 "Static SharedPreferences field"
Due to the SharedPreferences field value in SecurePreferences it is impossible to have multiple secure preference files. This also causes issues when running Robolectric tests. We saw test pollution when we tried to inject a new instance of SecurePreferences for each test example that depended on one.

[2015-07-16 08:14] scottyab commented on #22
OMG, yes this is an issue. It seems so obvious now it’s been pointed out, Thanks.

[2015-07-16 08:15] scottyab commented on #16
Thanks for this see #22, a fix will be in version 0.1.2

[2015-07-16 08:29] scottyab commented on #15
Thanks for the issue.

[2015-07-16 09:20] cermakcz commented on #18
Hey @scottyab, I started looking into it and so far it seems that the best way to do it would be creating another constructor which would take `AesCbcWithIntegrity.SecretKeys` instead of the password. Plus, it'd be nice to add another method to `AesCbcWithIntegrity`, namely `generateKeyFromPassword(String password, String salt, int iterationCount, int keyLength)`, which would allow easy creation o

[2015-07-16 09:34] scottyab commented on #18
Great minds think alike :+1: , I've just added a new constructor to take `AesCbcWithIntegrity.SecretKeys` and I'm just writing a unit test for it. As for the changes to 'AesCbcWithIntegrity', personally it makes sense, it just gives more options the default are still stronger.

[2015-07-16 11:07] cermakcz commented on #18
Thanks for the change, I just started working on it when I read that you've already done it :) I'll go and see if there's something I can do about the AesCbcWithIntegrity change.

[2015-07-16 15:04] pivotal-csaa-dev commented on #16
Cool!. Do you have a target release date for version 0.1.2?

[2015-07-16 15:32] scottyab commented on #16
@pivotal-csaa-dev 0.1.2 has been pushed to maven central, awaiting replication.

[2015-07-16 15:32] #16 closed

[2015-07-16 15:32] scottyab commented on #22
Fixed in  0.1.2

[2015-07-16 15:32] #22 closed

[2015-07-16 15:33] scottyab commented on #15
Fixed in  v0.1.2

[2015-07-16 15:33] #15 closed

[2015-07-16 15:33] scottyab commented on #20
Cannot recreate, closing until more info.

[2015-07-16 15:33] #20 closed

[2015-07-16 15:40] scottyab commented on #18
Thanks for that. Hoping @tozny is ok with and can merge the PR. I'll pull once accepted. In Secure Preferences I'm actually using my fork of [java-aes-crypto](https://github.com/scottyab/java-aes-crypto) as wanted to reference the dependancy from maven central.

[2015-07-16 15:50] scottyab commented on #1
@hubert3 wow, it's been a year since you asked this question, apologies for the slooooow response. My time is a limiting factor at the moment, so no current plans. I would love to add this functionality, especially given min SDK 18 is getting more and more acceptable.

Worth checking this article as there are a couple of edge cases with the keystore. [Android Security: The Forgetful Keystore](http

[2015-07-16 15:52] cermakcz commented on #18
Yeah I noticed. That's why I was hoping you'd pull it to your fork and make a new version, like you said.

[2015-07-21 16:18] IgorGanapolsky opened #23 "Slows down my app"
Hello,
ever since I upgraded to <b>0.0.1</b> from <b>0.0.4</b>, my app has experienced tremendous slowdown.  I mean like 10x slower!  Any ideas what the issue could be here?

Thanks,
Igor

[2015-07-21 16:24] scottyab commented on #23
hmm, I'm assuming you talking specifically get/put secure prefs? as the init slowness is covered in another issue.  Do you have any tests or sample code we could review and specific timings? a library like [Hugo](https://github.com/JakeWharton/hugo) might help?  also do you mean 0.1.0 not 0.0.1

[2015-07-21 16:26] IgorGanapolsky commented on #23
I mean <b>0.1.1</b>.  I don't know how to create tests for this yet, I'll look into Hugo.  But I can tell you without a shadow of doubt that downgrading back to 0.0.4 made my app faster again.

[2015-07-21 16:35] scottyab commented on #23
That figures as the 0.1.x change was pretty big and replaced the core crypto used by Secure Prefs making it stronger. If you see issue #18 we are looking to add a way of providing your own key which you can generate quicker if you're wanting performance over security. The default is higher security. When I get chance I'll add an async way of initialising Secure Prefs.

* Are you seeing the slownes

[2015-07-21 16:39] IgorGanapolsky commented on #23
I am seeing slowness when I init.  Then my whole app comes down to a crawl.  The size of strings are small, less than few dozen characters - primarily an auth token from the server.

[2015-07-21 16:42] scottyab commented on #23
Ok, right. In the next version 0.1.3, we should have a way of speeding the init up. Although once it's instantiated it should be ok. I'll create a task to review performance differences between secure prefs and standard shared prefs

[2015-07-21 16:45] scottyab opened #24 "How much slower is Secure preferences over using Standard Shared preferences?"
Test using hugo and/or performance tools to answer the question "How much slower is Secure preferences over using Standard Shared preferences?"

The main methods to focus on:

*Init
 *without user password
 *default
 *With supplied key
 *existing pref file
*getString
*putString

[2015-07-22 14:11] BhimAle opened #25 "Updating Password Not Working"
While using one static key , it is working as charm, but my situation is bit different,
need to change the key often.
So I tried to use

        SecurePreferences securePrefs = new SecurePreferences(context, "userpassword", "my_user_prefs.xml");
        securePrefs.handlePasswordChange("newPassword", context);

But not working.

[2015-07-22 14:33] scottyab commented on #25
Ok thanks @BhimAle  More correctly here's the example / test that fails....

[code]

[2015-07-23 12:10] scottyab commented on #25
@BhimAle this is fixed in master branch and will be included in 0.1.3 release.

[2015-07-23 12:10] #25 closed

[2015-07-23 12:11] scottyab commented on #23
Closed as duplicate of #18

[2015-07-23 12:11] #23 closed

[2015-07-23 12:17] BhimAle commented on #25
@scottyab ok Thank You very much :)

[2015-07-23 13:53] scottyab commented on #18
@cermakcz i've pulled your fork of java-aes-crypto into my fork added unit test and published as 0.0.3.  Just waiting on maven central to propagate, then I'll release a new version of secure prefs 0.1.3 dependent on `com.scottyab:aes-crypto:0.0.3`

[2015-07-23 15:32] cermakcz commented on #18
@scottyab Cool, thanks.

[2015-07-24 12:53] scottyab commented on #18
Fixed in 0.1.3 (once propagated to maven central)

Example...
[code]

[2015-07-24 12:53] #18 closed

[2015-07-24 12:54] scottyab commented on #24
See issue #18 for more details on how to speed up (but also reduce security)

[2015-08-02 05:05] XandrMaster opened #26 "Add custom ProGuard/DexGuard config"
08-02 05:00:41.356    1533-1533/erparchitector.findwork.app.android E/AndroidRuntime﹕ FATAL EXCEPTION: main
    java.lang.SecurityException: new SecureRandom() backed by wrong Provider: class com.tozny.crypto.android.AesCbcWithIntegrity$PrngFixes$LinuxPRNGSecureRandomProvider
            at com.tozny.crypto.android.AesCbcWithIntegrity$PrngFixes.installLinuxPRNGSecureRandom(Unknown Source)

[2015-08-05 15:38] scottyab commented on #26
Can you supply your proguard.cfg?

[2015-08-05 15:43] XandrMaster commented on #26
Yes, of course:

-dontwarn **
-dontshrink
-dontoptimize
-keep class com.google.** { *; }
-keep class android.** { *; }
-keep class org.apache.** { *; }
-keep class com.activeandroid.** { *; }
-keep class com.squareup.** { *; }
-keep class retrofit.** { *; }
-keep class rx.** { *; }
-keep class com.facebook.** { *; }
-keep class pl.charmas.** { *; }
-keep class com.orhanobut.** { *; }
-keep class c

[2015-08-28 14:20] danybony commented on #26
I had the same problem in a project using Secure-preferences.
Adding the following to the Proguard config file worked in my case:

[code]

@scottyab do you see any issue with that?

[2015-09-04 13:58] scottyab commented on #26
@danybony that'll work. Of course you're excluding all the library code so it's skipped. It would be better security (even if security but obscurity) if the have that obfuscated too. I'll add to the issues, I'm sure it's only a small part that needs excluding.

[2015-09-08 14:55] cermakcz opened #29 "Proguard compatibility"
Today I stumbled upon an issue with Proguard.

The [AesCbcWithIntegrity](https://github.com/scottyab/java-aes-crypto/blob/master/aes-crypto/src/main/java/com/tozny/crypto/android/AesCbcWithIntegrity.java) class from aes-crypto lib contains the [PrngFixes](https://github.com/scottyab/java-aes-crypto/blob/master/aes-crypto/src/main/java/com/tozny/crypto/android/AesCbcWithIntegrity.java#L666) inner c

[2015-09-08 15:32] scottyab commented on #26
See issue #29

[2015-09-08 15:32] scottyab commented on #29
Thanks @cermakcz I'll add to the readme

[2015-10-07 11:49] void99 opened #30 "Exception thrown in SecurePreferences constructor"
I'm using Your library version 0.1.0, but looking through the code I think this might be a problem with other versions too. Just noticed this in crash report today in google play console:

java.lang.IllegalArgumentException: bad base-64
	at android.util.Base64.decode(Base64.java:161)
	at android.util.Base64.decode(Base64.java:136)
	at android.util.Base64.decode(Base64.java:118)
	at com.tozny.crypt

[2015-10-08 12:08] smred opened #31 "SecureException in AesCbcWithIntegrity:installLinuxPRNGSecureRandom"
Hi,
last release of library crash on HUAWEI G630 U10 with Android 4.3.

Caused by java.lang.SecurityException
com.tozny.crypto.android.AesCbcWithIntegrity$PrngFixes.installLinuxPRNGSecureRandom (AesCbcWithIntegrity.java:764)
com.tozny.crypto.android.AesCbcWithIntegrity$PrngFixes.apply (AesCbcWithIntegrity.java:684)
com.tozny.crypto.android.AesCbcWithIntegrity.fixPrng (AesCbcWithIntegrity.java:347)

[2015-10-13 03:54] cyberrob commented on #31
I got the same problem only when I running a apk with minifyEnabled is true:

[code]

in the proguard config I add:
[code]
running on `Genymotion Android Emulator 4.2.2`

Is this related to https://github.com/tozny/java-aes-crypto/issues/13 ?

[2015-10-13 06:54] cyberrob commented on #31
I've tested all versions from 4.1.1, 4.2.2, 4.3 (Genymotion Emulator) They all crashed.

However I change the version of `secure-preference` from 1.0.3 to 1.0.2，it all worked!

This might not completely solve the problem but it could help for now.

[2015-10-13 07:01] scottyab commented on #31
Thanks Robert, I'll take a look today

On Tue, 13 Oct 2015 07:54 Robert Wang <notifications@github.com> wrote:

[2015-10-13 08:35] scottyab commented on #30
Thanks @void99, i seem to of missed the fact that `AesCbcWithIntegrity.generateKeyFromPassword` is running `Base64.decode()`. I wonder why the LG's are an issue can you see what `getDeviceSerialNumber(context)` is returning? Also which LG phones? g3, g4?

[2015-10-13 08:43] void99 commented on #30
We've seen this on LG G2 (code: L-01F (g2)) phones running Android 5.0.2. Unfortunately I have no acces to the device to test against it...

[2015-10-13 12:50] scottyab commented on #31
The PrngFixes class is doing several `equals` checks on class names i.e  `getProvider().getClass().getSimpleName().equals("LinuxPRNGSecureRandomProvider")` but this was failing due to the obfuscation. Even when using `-keep` on the two inner classes of PrngFixes ( LinuxPRNGSecureRandomProvider and LinuxPRNGSecureRandom) still the `equals` wasn't satisfied.

I changed the equals check to use `Linux

[2015-10-13 14:35] scottyab commented on #30
This fix will included in v0.1.4 release, just waiting for dependancy to be propagated on maven central before release.

[2015-10-13 14:35] #30 closed

[2015-10-13 14:36] scottyab commented on #29
No specific ProGuard/DexGuard config is need to get v0.1.4 working.

[2015-10-13 14:36] #29 closed

[2015-10-13 14:43] scottyab commented on #26
This issue has been fixed as part of v0.1.4 - also please note unlike previous versions from 0.1.4+ no specific ProGuard config is need to get working. Just waiting for [maven central](https://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22com.scottyab%22%20AND%20a%3A%22aes-crypto%22) to propagate dependancy.

Also please note there is specific DexGuard config supplied with DexGuard 7+ located `<dexg

[2015-10-13 14:43] #26 closed

[2015-10-13 17:30] scottyab commented on #31
Fixed in v0.1.4 of Secure-preferences

[2015-10-13 17:30] #31 closed

[2015-10-15 10:08] javiersantos opened #32 "Updating to 0.1.4 from 0.1.3 return null"
I have updated the library to 0.1.4 and now, when I access to any secure preference it returns null and the app closes with a NullException.

Is there something that I need to do after the update? Thanks!

[2015-10-15 16:00] scottyab commented on #32
Hmmm, no?  can you supply more details like which constructor are you using? and can you supply examples of the data you are storing?

Certainly we need some better migration tests to pick this up.

[2015-10-15 16:21] scottyab opened #33 "Handle prefs migration"
Handle changes to key generation.
As similar [library](https://github.com/grandcentrix/tray/blob/14325e182e225e668218fc539f5de0c9b9e524e7/library/src/main/java/net/grandcentrix/tray/core/Preferences.java#L196) does handle the migration of breaking changes with upgrade strategy simple to SQLlitehelper.onUpdate()

[2015-10-15 16:24] scottyab opened #34 "Add simple way to set security strength and AES (key mode and length)"
- Simple way of setting the security, low/medium/high.
- more adv setting to set AES (key mode and length)

[2015-10-15 18:37] javiersantos commented on #32
I have been testing the problem further. My device is a Nexus 4, running with Android 5.1.1 (CyanogenMod).

I get a RuntimeException using the secure preferences created from 0.1.3 and updating to 0.1.4 and vice versa. I don't have modified anything about the secure preference.

Here you are the constructor:
[code]

The method trying to access at the class secure preferences:
[code]

The log shows

[2015-10-16 08:53] scottyab commented on #32
Thanks for providing stack trace. Seems than some how your `KeyUserInt` was saved as a string "null' when saving to preferences this could happen if the encrypt failed. The more I look at this, I regretting the  decision not to throw exception when encrypt fails.

If you switch back to 0.1.3 does it start working? my guess would be no.

On a side note: do you have the password as a String constant

[2015-10-16 09:15] javiersantos commented on #32
Switching back to 0.1.3 also shows the Exception. Thanks for your time!

[2015-10-19 09:23] scottyab commented on #32
Closing and not an issue with 0.1.4 - please reopen if i've misunderstood.

[2015-10-19 09:23] #32 closed

[2015-10-24 13:21] albertovelazmoliner opened #35 "NoSuchAlgorithmException: SecretKeyFactory PBKDF2WithHmacSHA1 implementation not found"
I'm getting this internal crash in all users with Samsung SCH-I705 (Samsung Tab2 7") with Adnroid 4.1.2, in the line what I'm doing this:
sPrefs = new SecurePreferences(context);

I'm importing the library in gradle file:
compile 'com.scottyab:secure-preferences-lib:0.1.3'

Fatal Exception: java.lang.RuntimeException: Unable to create application com.fieldaware.app.FAApplication: java.lang.Illegal

[2015-11-11 00:23] inktomi commented on #33
This would be fantastic. It's hard to drop this into a pre-existing app as-is.

[2015-11-13 19:18] inktomi opened #36 "clear() also removes auto-generated key"
When you call clear() on your SecurePreferences instance, it also removes the encryption key used. This means that if you do the following, you can't read out the values you'd expect:

    new SecurePreferences(context, "", "file-name");
    .putString("foo", "bar");
    .getString("foo")  // returns bar as expected
    .clear();
    .putString("foo", "bar");

    new SecurePreferences(context, ""

[2015-11-13 19:39] inktomi opened #37 "Crash while calling getInt with "null" saved."
Caused by: java.lang.ClassCastException: Invalid int: "null"
         at com.securepreferences.SecurePreferences.getInt(SecurePreferences.java:389)

This is a valid (but bad practice) call:

       Integer test = null;
       editor.putInt("key", test);

It results in "null" being set in shared preferences because we .toString the Integer value before saving it off encrypted. Then, when we call ed

[2015-11-13 23:11] inktomi commented on #37
I'm torn on even really keeping this open. It's valid to throw ClassCastException if the value of a key is not a number according to SharedPreferences, butI feel like it would be less likely to actually happen as above since the values are not written to Strings before saving and so you won't be actually saving "null".

[2015-11-23 12:14] cermakcz commented on #32
I know this is not an issue with migration from 0.1.3 to 0.1.4, but it's still an issue. It's happening to me as well and I'm not sure what's the best way to handle it. I can't put all calls to try-catch, as that would be ugly. I think that SecurePreferences should just return the default value in such case. And like you said, throw an exception when the encryption fails, because that seems to be

[2015-11-23 12:15] cermakcz commented on #37
This seems like the same issue as https://github.com/scottyab/secure-preferences/issues/32.

From what Scott said, it seems like it's not about actually passing null to putInt, but more like putInt internally fails during encryption and stores null instead, which is a real problem.

[2015-11-25 07:13] iamMehedi opened #38 "'getString' returns null in 0.1.4"
I have an app using the version 0.1.3, which stores a Base64 encoded String(say with key "a_key") in the secured preference which is encrypted with user provided password. In a later version I have used version 0.1.4 of this library. Now when I update the app to this later version from the earlier one, `getString("a_key", null)` is returning `null` although it had a valid value stored earlier. My

[2015-11-25 16:34] iamMehedi commented on #38
Rolling back to 0.1.3 solved the issue.

[2015-12-02 07:20] cyberrob commented on #35
I got the same issue on `Samsung Galaxy S III(gt-i9300)`, `Samsung GALAXY Tab 2 7.0(gt-p3100)`, `Samsung Galaxy Note 2(gt-n7100)` running `Android 4.1.1 or Android 4.1.2` with secure-pref version 0.1.2.

Is there anyway we can choose which implementation to use based on Android version?

[2015-12-02 07:30] cyberrob commented on #35
@scottyab not sure if there's any follow-up about this? https://github.com/tozny/java-aes-crypto/issues/9

[2015-12-02 11:31] scottyab commented on #35
Hey @cyberrob it seems related yes, those devices don't seem to have that algorithm or the fallback algorithm ( a shame :( ). Open to PR's to solve.

[2015-12-08 10:18] mkaarthick commented on #18
Hi, i tried using password, but still app lags.

[2015-12-08 10:41] scottyab commented on #18
@mkaarthick I'm not sure I understand your comment. You can manually pass in your own keys created with `generateKeyFromPassword` method that takes a int of the `iterationCount`.  To increase the speed (but reduce security) you can lower the iterationCount.

[code]

[2015-12-10 14:55] MrArtichaut opened #40 "Move away from AESCrypt-Android"
AESCrypt-Android is a completly insecured cryptography library!

It uses a simple SHA256 in order derivate a key from a password with no salt. That basically useless.
=> Please consider using at least PBKDF2 with a good salt and sufficient number of iterations.
=> Read https://www.nccgroup.trust/us/about-us/newsroom-and-events/blog/2015/march/enough-with-the-salts-updates-on-secure-password-scheme

[2015-12-10 15:41] scottyab commented on #40
Hey @MrArtichaut thanks for your comment, but aren't you talking about https://github.com/scottyab/AESCrypt-Android? This secure-preferences lib has not dependancy or shared code. Maybe the confusion is because I'm author/maintainer of both?

I'm closing this issue not because you comment is invalid far from it, it's just not for this secure-preferences library.

For the record as mentioned in the

[2015-12-10 15:41] #40 closed

[2015-12-15 08:57] gostik commented on #35
We could resolve this problem by adding https://rtyley.github.io/spongycastle/ lib.
Is it a single solution?
Could anyone suggest better solution?

[2015-12-29 14:05] cermakcz commented on #32
Hi @scottyab, would you consider pulling this change, which makes the encrypt/decrypt methods throw an exception? https://github.com/cermakcz/secure-preferences/commit/502eee65b7d7626374b6a65723168a8a10d9a279

If so, let me know and I'll prepare a pull request.

[2016-01-04 18:41] inktomi commented on #35
It seems like SpongyCastle would be a good solution. Who wants to put a PR in for it? :)

[2016-01-06 07:25] mkaarthick commented on #37
Any workaround?

[2016-01-06 08:28] cermakcz commented on #37
Actually my problem wasn't that null was written, but that the key used for encrypting/decrypting changed, thus it wasn't possible to decrypt the value, null was returned and ClassCastException was raised. The key changed because it was salted with ANDROID_ID, which changed, even though it shouldn't. I don't know why it did, or if it was on some rooted device and someone changed it manually. Anywa

[2016-01-06 09:11] scottyab commented on #37
Hey @cermakcz , it should get the [device's Serial number](https://github.com/scottyab/secure-preferences/blob/master/library/src/main/java/com/securepreferences/SecurePreferences.java#L221-221) if that's empty for some reason it falls back to the Android_ID. The serial should stay statis AFAIK, Saying that the Android_ID isn't the most ideal fallback as it'd has been known to change.

@inktomi I

[2016-01-06 10:08] scottyab commented on #32
Hey @cermakcz, considered and short answer yes! thanks for your efforts. However I'm thinking that we add a throw on enc/dec error flag to constructor that defaults to false. This way it's backwards compatible and devs that upgrade don't unexpectedly get runtime exceptions. How does that sound?

[2016-01-06 10:24] cermakcz commented on #32
I'm a bit afraid of polluting the code with such flags. You'd have to do it with every non-backwards compatible change. It might be better to just bump the major version and mention it in the release notes?

[2016-01-26 11:43] zecatman opened #41 "handlePasswordChange problems (v0.1.4)"
Consider the following code snippet

    SecurePreferences securedPreferences = new SecurePreferences(myContext, "myPassword", "myfile");
    securedPreferences.handlePasswordChange("myNewPassword", myContext);

Using handlePasswordChange leads to a strange behaviour. After method call, secured preferences file myfile.xml is empty and updated preferences are written into default shared preferences

[2016-02-03 21:40] glen-mac commented on #38
Same issue, except it is fresh install 0.1.4 - without having used previous versions.

[2016-02-09 12:43] hammadtariqsahi commented on #35
Any work around ? I am unable to use spongycastle in android studio, what i will have to do after adding lib in my project. also what is PR :)

[2016-04-01 15:05] gafful opened #47 "Empty SecurePreferences"
Anytime the app goes to the background, it looses the SecurePreferences object. And when a new one is created with the same key as was used to create initially, the object becomes available and everything works fine.
But after a while, sometimes, when creating (re-initializing) the SecurePreferences object, the file gets renamed to _com.package.name_preferences_ somehow, and a new file is created.

[2016-05-02 14:44] fernandospr commented on #31
This is not fixed in v0.1.4. I still see the exception:

Caused by java.lang.SecurityException: new SecureRandom() backed by wrong Provider: class org.apache.harmony.security.provider.crypto.CryptoProvider
       at com.tozny.crypto.android.AesCbcWithIntegrity$PrngFixes.installLinuxPRNGSecureRandom(AesCbcWithIntegrity.java:767)

[2016-05-02 15:07] fernandospr commented on #35
@inktomi Which SpongyCastle dependencies did you include in your Android Studio gradle project?

All of them?
    compile 'com.madgag.spongycastle:core:1.54.0.0'
    compile 'com.madgag.spongycastle:prov:1.54.0.0'
    compile 'com.madgag.spongycastle:pkix:1.54.0.0'
    compile 'com.madgag.spongycastle:pg:1.54.0.0'

[2016-05-11 12:53] ShinJJang commented on #18
`handlePasswordChange()` also need iteration. All method is private static, so I can't override. If to find method not to build library, the only way is inheritance with `SecurePreference` and overwrite method `handlePasswordChange()`. But, this is not cool.

[2016-05-17 07:09] ShinJJang opened #49 "handlePasswordChange(...) also try to decrypt auto-generated key"
When already use default constructor not passing password or keys, auto-generated key is saved in **default** shared preference.

But `handlePasswordChange(...)` also try to change that auto-generated key. **During decrypting for getting plain string before encrypt with new password**, error occurred.

[code]

There is need to be some flag to check if pass or not. If not, always that call `generat

[2016-05-17 07:25] ShinJJang opened #50 "Expand with iterationCount parameter to cover several use case"
**Same with description in this link, https://github.com/scottyab/secure-preferences/pull/48**

Hello there,

As mentioned in #18, default constructor of SecurePreference is too slow to create instance. In there, solution is to give parameter at `AesCbcWithIntegrity.generateKeyFromPassword(...)` like below.

[code]

But if **already use this library**, we need to change password using `handlePassw

[2016-05-17 07:47] scottyab commented on #47
Thanks for reporting this, I'll look into

[2016-06-16 15:15] brandoFS commented on #35
Any update here? Having this issue with many samsung phones, any advice on how to fix?

[2016-06-16 16:00] albertovelazmoliner commented on #35
@brandoFS For now I've added the SpongyCastle dependency to build.gradle
    //SpongeCastle
    compile('com.madgag.spongycastle:core:1.54.0.0')
    compile('com.madgag.spongycastle:prov:1.54.0.0')
And added it in the MyApplication class

static {
        Security.insertProviderAt(new org.spongycastle.jce.provider.BouncyCastleProvider(), 1);
    }

It's not the solution but it works.
Hope that hel

[2016-06-16 16:02] brandoFS commented on #35
@albertovelazmoliner thank you

[2016-06-20 03:54] lgengsy commented on #35
I got  it must in  4.1.2 . who can help me  ??

[2016-06-20 19:15] gostik commented on #35
@lgengsy please use @albertovelazmoliner solution

[2016-06-20 19:24] brandoFS commented on #35
@albertovelazmoliner added your spongycastle dependencies but we are still seeing the crash in our latest release. Any other idea?

[2016-06-21 04:13] lgengsy commented on #35
I want to rewrite this with other encryption。

[2016-06-23 09:37] grmaciel commented on #18
Unfortunately i released an app with that in my application onCreate and its a messy situation right now. I can't force the users to logout and login cause that's a bit expensive for us. Would be a way for me to use the same keu generated by the class and then storing to use to create my SecretKeys? Any idea on that?

Thank you,

[2016-06-25 12:34] chainani commented on #38
any updates on this?

[2016-07-01 10:59] rmunk opened #51 "How to set `SecurePreferences` as default shared preferences?"
I would like the `PreferenceManager.getDefaultSharedPreferences(this)` method to return my `SecurePreferences` instance.

So is it possible to set `SecurePreferences` as default shared preferences and is there maybe some way to have `PreferenceFragmentCompat` use `SecurePreferences`?

[2016-07-06 01:04] peterbetos commented on #47
Hopefully this gets resolved

[2016-07-06 11:19] ankitgoyal1009 opened #52 "Latest tag is missing"
I was wondering where is tag 1.0.4. As you have mentioned #31 is fixed in that but I can see in master it is not.

[2016-07-20 08:42] PasqualePuzio commented on #35
I got the same issue... that's frustrating :-(

[2016-08-05 12:12] 0w60 commented on #31
Still crashes on 4.1.1
Fatal Exception: java.lang.RuntimeException
Unable to create application: java.lang.SecurityException: SecureRandom.getInstance("SHA1PRNG") backed by wrong Provider: class org.apache.harmony.security.provider.crypto.CryptoProvider

[2016-08-12 10:13] DarioI opened #53 "Usage of the String class for sensitive key material"
Consider using a char[] instead of String object for the password parameter in the constructor. Also consider not loading the encryption key in a String object while loading/storing it in the backing preference file. Make a file in the private app directory where you write the key as a byte sequence instead. Zero the char[] or byte[] array when the material is not used anymore.

[2016-08-31 12:37] scottyab commented on #50
Thanks for raising/fixing. PR merged. Closing.

[2016-08-31 12:37] #50 closed

[2016-08-31 12:39] scottyab commented on #41
Thanks for reporting, this was fixed in PR#42

[2016-08-31 12:39] #41 closed

[2016-08-31 13:13] doridori commented on #35
Strange that some of you are seeing adding spongy fix this issue and some not. @PasqualePuzio & @brandoFS (or anyone else with this issue) could you paste the output of http://stackoverflow.com/a/7561104 to help debug this.

The solution _should_ be to add spongy, but never put it past samsung to mess something up that every other device honors...

[2016-09-07 07:08] ShinJJang commented on #36
In progress? `public void handlePasswordChange(String newPassword, Context context, int iterationCount)` have same problem. If nobody take out this issue, i'll take it.

[2016-09-07 12:29] scottyab commented on #36
@ShinJJang please do, Thanks!

[2016-09-15 17:31] 4gus71n commented on #38
Having the same issue here, apparently rolling back to 0.1.3 solved the issue, but It'd be nice having a bugfix for this in 0.1.4

[2016-09-21 05:38] nilsi commented on #51
+1 would love to use this with PreferenceFragmentCompat

[2016-09-21 20:38] tprochazka opened #54 "Allow to provide own salt instead of deprecated ANDROID_ID"
Depend on ANDROID_ID is really not good idea, it is deprecated by Google and it can change on some crap devices for example during Android update and user will lost it's data. It is also not good idea if you want to allows to backup preferences and restore it on the new user device.

I know that I can provide completely own  SecretKeys, but it is too much complicated.

Maybe some builder for prefe

[2016-10-03 06:07] MasterKs opened #55 "Cant set Mode in SecurePreferences like MODE_PRIVATE"
I am new to SecurePreferences

any one know how to st mode for SecurePreferences, my values are always replaced
and cant find APPEND_MODE

[2016-10-12 16:32] tprochazka commented on #35
Is there any solution already?
I found that in the SecurePreferencesOld already is the mechanism to detect if algorithm is supported on the running platform. Why it is nt in the new one?

Ther was problem that when user migrated to different phone they lost the configuration.
But I think that used algorithm should be stored in preferences item to keep the same when new one will be introduced in th

[2016-11-21 08:54] bogdanRada opened #56 "Question about license and using strong encryption outside of USA"
I am working on a Android application that i want to release to be available for customers from both USA and Romania. Does this library require a special license for using strong encryption? The reason why i ask this is because some other libraries like SQLCIpher for Android require special license for this ( according to this blog http://www.informit.com/articles/article.aspx?p=2268753&seqNum=3 )

[2016-11-21 09:04] scottyab commented on #56
Good question!, and I'm defo not lawyer so to cover all the bases I'd advise seeking professional advice. That said secure-preferences doesn't use any additional algorthms that aren't already part of Android. So if Android is ok to be exported, so to it secure-preference lib.  Hope this helps.

[2016-11-21 09:15] bogdanRada commented on #56
Hmm, well this library depends on this https://github.com/scottyab/java-aes-crypto. And i am not sure if this requires special license for encryption. And since there is no posibility to open an issue there to ask this question, i opened it here. Do you know if that library is using strong encryption? and if there is a need for a special license?

[2016-11-21 09:17] bogdanRada commented on #56
I opened a issue on the original repo too https://github.com/tozny/java-aes-crypto/issues/31 , but since your repository is a derivative work, i am a bit confuse. ANy help would be greatly appreciated. Thanks

[2016-11-21 09:19] scottyab commented on #56
Ah yes, I think my above answer still stands. java-aes-crypto uses `AES` and `PBKDF2WithHmacSHA1` both of which are part of Andorid.

[2016-11-21 09:38] bogdanRada commented on #56
Well then, i guess there is no need for special license. I though maybe your library includes other types of algorithms. Thanks a lot. Saved my day :)

[2016-11-21 09:38] #56 closed

[2016-12-02 17:38] kurtacious opened #57 "Compatability issue when using android gradle plugin shrinker"
**SecurePreferences Version:** v0.1.4
**Target Device:** Emulator with Image **API 18, Google APIs Intel x86, rev. 5**
**Gradle Android Plugin Version:** v2.2.2

When using the Android Gradle plugin [shrinker](https://developer.android.com/studio/build/shrink-code.html#gradle-shrinker), a `NoSuchAlgorithmException` is thrown when trying to instantiate a new SecurePreferences object on the target d

[2017-01-23 13:32] zecatman commented on #47
@peterbetos could you please tell me how and when it gets solved? The problem exists in version 0.1.3. Is the problem solved in version 0.1.4. Thank you for your feedback.

[2017-02-08 21:33] ashishkhatri commented on #51
You should just write a helper class to deal with preferences anyway, and use SecurePreferences there.

[2017-03-27 17:25] carlpoole opened #59 "Constructor error with null password"
When I try to create an instance of SharedPreferences using the constructor with null as the password as shown in the README:

`new SecurePreferences(context,null,"name_of_file.xml");`

I get an error:

I was able to workaround the issue by passing empty string as the password instead. It looks like the behavior is the same, and the lib will generate a key for me.

[2017-03-28 07:43] scottyab commented on #59
Thanks for reporting this.

[2017-03-28 08:10] scottyab commented on #59
Thanks for reporting this.

[2017-03-28 08:10] scottyab commented on #54
Good idea. Thanks for raising.

[2017-03-28 08:16] scottyab commented on #51
The main issue with using with `PreferenceFragmentCompat` or any preference screen where the android system/xml if interacting directly with `SecurePreferences` is that it'll need to reference the hashed key name. It's doable but clunky.

I'll leave this open to update readme/sample app with an example of how to achieve this.

[2017-04-26 07:34] pzl237 opened #62 "SecurePreferences.getInt throw java.lang.ClassCastException:null"
My app uses the version 0.1.4.
Recently, I met a problem: call SecurePreferences. Get int, throw Java. Lang. ClassCastException: null. I find in source code, find the decrypt (final String ciphertext) method may return null, so the Integer. ParseInt (null) would throw this exception.I think SecurePreferences. Get int (String key, int defaultValue) should take the initiative to throw an exception,

[2017-05-10 09:37] scottyab commented on #55
Hey,  MODE_PRIVATE is used by default and currently setting additional flags such as APPEND_MODE is not supported. However I'm working on major change to secure-preferences and i'll ensure this is an option in the new version.

[2017-05-10 09:52] scottyab opened #63 "Auto deploy sample app to Gplay store from CI"

[2017-05-22 07:22] Rkdroid opened #64 "First time initialization with an empty string as password is very slow, it typically takes 4 seconds on every device"
private SecurePreferences mSecurePrefs;
private SecurePreferences openSharedPrefs(){
        if (mSecurePrefs == null) {
            mSecurePrefs = new SecurePreferences(context, "", "sec_prefs.xml");
        }
        return mSecurePrefs;
    }

**Usage:**
PreferenceManager pref = new SharedPreferencesManager(context);
String text = pref.getText();
The first time initialisation of preferences tak

[2017-06-22 12:26] miklendap commented on #64
@Rkdroid See Issue #18 and mentioned PullRequest #48. With this you can significantly reduce initialization time (in my case it was about 50% faster).
But unfortunately even if PullRequest #48 was merged at 31 Aug 2016, current version of SecurePreferences (0.1.4) does not contain this changes. So you can fork, or add updated SecurePreferences class directly into your project.
Or maybe could @scot

[2017-06-22 14:25] scottyab commented on #64
Let me see what I can do tonight about pushing new release with this change

On Thu, 22 Jun 2017, 13:26 miklendap, <notifications@github.com> wrote:

[2017-08-22 14:34] bernardo-macedo commented on #31
Is there any solution available for this? I get this crash as well on a Samsung 4.1.2 device.

[2017-08-28 09:42] miklendap commented on #64
Hi @scottyab,
any update with this issue and new Lib version release?
Also e.g. issue #31 (crash on API 16) should be solved with new release.

Thanks in advance.

[2017-09-20 17:19] macdonaldj commented on #49
it seems to be crashing decrypting the key, so i just did this to get around it

[code]

also one issue i found was in following method after doing handlePasswoordChange

[code]

this caused the filename to be null and created new pref file. needs to be

[code]

[2017-10-20 06:20] OuyangDanwen opened #66 "How to clear sharedPreference without password?"
I used the user password mode in my application. So how do I clear the shared preference without asking the user password on logout. Currently, every access to the shared preference in other activities will require password to get the created shared preference instance during login, but this is fine for fetching the information. But when the user logs out, is it possible to clear it without the pa

[2017-10-20 06:36] OuyangDanwen commented on #66
Will it be sufficient to just use the default SharedPreference.Editor.clear().commit()?

[2017-10-21 13:24] #66 closed

[2017-11-28 03:57] barryjohncoronel opened #69 "How to decrypt shared pref key"
When i was trying to use SharedPreferences.getAll(), I am getting the encrypted key = actual value(e.g E9hgkasdjafuyg3X = false)

How to get the actual key also? Thanks.

[2017-12-11 09:46] scottyab opened #70 "Integration and Unit tests"
Write unit tests for utility
Integration/Instrumentation tests for some of the crypto

[2017-12-11 09:50] scottyab opened #71 "Use random IV per value encrypted"

[2017-12-11 09:53] scottyab commented on #54
merged #67 Thanks for issue and PR

[2017-12-11 09:53] #54 closed

[2017-12-11 10:15] scottyab commented on #64
Hey @miklendap @Rkdroid I'm in the middle of sorting a 0.1.5 release to include the most recent changes. In terms of the slowness that's something I'll be addressing in next version to make it down to the developer to choose fast/less secure or slow/more secure. Thanks for the feedback.

[2017-12-11 10:19] scottyab commented on #69
Hey @barryjohncoronel, SecurePreferences handles the encryption and decryption under the hood so you shouldn't need the key.

[2017-12-11 10:19] #69 closed

[2017-12-11 10:20] scottyab commented on #1
Addressed in https://github.com/scottyab/secure-preferences/pull/58 looking forward to include this once revamp of the library has been completed

[2017-12-18 21:27] patrickfav opened #72 "Build.SERIAL is deprecated in SDK 26 and will return UNKNOWN"
Referencing this code

[code]

Since SDK 26, `Build.SERIAL` is deprecated and will NOT return the device's serial number. This makes it will make it non-compatible. Since SDK 26 one should use `Build.getSerial()` which requires the PHONE permission.

https://developer.android.com/reference/android/os/Build.html#getSerial()

This will probably make the encrypted data non forward compatible when a d

[2017-12-19 11:02] scottyab commented on #72
Thanks for raising this @patrickfav I'm in the middle of update that moves the code which gets the Serial more to the ownership of the implementing developer.

[2017-12-19 11:44] patrickfav commented on #72
@scottyab I see, handling all the physical ids can be pretty annoying :) The upside is that Android_ID will be unique per App from SDK25 on (or 26?) so this might be a better salt than device serial anyways. Btw for pinning the data I also like to use the sha hash of the apk signature.

[2017-12-19 16:29] scottyab commented on #52
This fixed, added the missing 1.0.4 tag and new 1.0.5 for the recent changes. Thanks @ankitgoyal1009 for rasing this :)

[2017-12-19 16:29] #52 closed

[2017-12-20 11:57] ragazenta commented on #72
Should we use compileSdkVersion 25 if we use `v0.1.4`? Or is it okay if we use compileSdkVersion 26?

@scottyab Will you release #67 to Maven? It has additional salt parameter in constructor.

[2018-01-02 23:24] DominuS-RU opened #73 "Wrong parameters order in one constructor"
Hello!

I noted wrong parameters order in one of the constructors.

We have main one (line 130) -  `private SecurePreferences(Context context, final AesCbcWithIntegrity.SecretKeys secretKey, final String password, final String salt, final String sharedPrefFilename, int iterationCount)
`
Params:

1. context
2. secretKey
3. password
4. salt
5. sharedPrefFilename
6. iterationCount

 Also, we have ano

[2018-01-04 14:44] scottyab commented on #73
Hey @DominuS-RU nice spot thanks

[2018-01-04 15:12] scottyab commented on #55
The new version will allow you to pass a shared preferences object so you can use `APPEND_MODE `

[2018-01-04 15:47] scottyab commented on #12
Given v1.0 is due soon. I'm gonna mark this as not going to fix.

[2018-01-04 15:47] #12 closed

[2018-01-05 01:08] synman commented on #38
Thanks for the fix.... I'm pushing to v0.1.6 now ....  Lint was convinced this error would never occur but production crash reports were indicating otherwise.

[2018-01-05 13:50] DominuS-RU commented on #73
One more mistake.
![Screenshot](https://user-images.githubusercontent.com/10329086/34611881-6578a22a-f238-11e7-9cb9-0e3e3acb9b1c.png)

We pass null salt as password and password as salt.

[2018-01-05 14:01] scottyab commented on #73
to confirm this is the switch you meant @DominuS-RU?.

<img width="818" alt="secure-preferences__git_" src="https://user-images.githubusercontent.com/404105/34612267-f83e3b82-f220-11e7-9c80-5dfb858b2c76.png">

[2018-01-05 14:14] DominuS-RU commented on #73
@scottyab Yes, this is the swith for the first one.

[2018-01-05 18:06] rscottcarson opened #75 "Overload resolution ambiguity"
Right now, if trying to use ` SecurePreferences(context, null, "custom_prefs_name")` I am getting an error: Overload Resolution Ambiguity.

I know it is recommended to use a custom generated secret or a user entered password, but this will not work in my case. Can we add another constructor to create a custom shared preferences file without having to use a null second parameter?

[2018-01-18 09:00] spff commented on #69
I don't think so. You are hashing the key instead of encrypting it.
This might make users need to hashPrefKey in the switch case when setting up a listener.

[2018-01-25 13:15] 1mohammad7 opened #76 "Cant get decryped value"
I'm sorry but your explanation and sample project are very vague and can't figure it out.  Could you please explain how to get data from encrypted sharedPrefs?!
What is wrong with this code? it's like your sample project but the value won't be decrypted! :
[code]

[2018-02-03 09:27] sam0829 commented on #38
v0.1.6 seems unavailable via
`implementation 'com.scottyab:secure-preferences-lib:0.1.6'`
Am I missing something?

[2018-02-28 11:42] rezastallone opened #77 "Import secure-preferences v0.1.6 as module"
I am trying to update the library from v0.1.4 to v0.1.6, but it seems the latest version on maven repository is v0.1.4, i am trying to add the library as module but have not succeeded, can anyone help me out ?

[2018-03-07 15:50] aalap03 opened #78 "getStringSet()"

[2018-03-07 15:52] aalap03 opened #79 "No getStringSet option"
I wanted to store info in String set and I was able to do it with putStringSet method but I could not find getStringSet method on that, so for that I used the simple SharedPreferences provided by vanila android.

Please let me know if I am missing something.

[2018-03-26 01:28] alkaaf commented on #62
i got this error too, it is very rare tho. idk what happened but seems it failed to decipher the encrypted string causing Integer.parseInt fail to parse.

[2018-03-26 10:34] ajinkyapote1 opened #80 "Unable to locate release.aar file"
Hello,
I am unable to locate release.aar file.

[2018-04-07 10:44] niqdev commented on #77
@rezastallone as mentioned in #38 you should use jitpack

[code]

[2018-04-10 09:36] nitin525 opened #81 "Boolean Values"
Do the "true" and "false" values vary for different keys or are they the same for a particular application?
For instance,
[key = isDeviceLocked , value = false]
[key = isPinLockProvided, value = false]

Would the encrypted false value for the boolean remain the same for both instances?

[2018-04-12 11:27] danilodequeiroz commented on #21
@IgorGanapolsky  How did you solved this situation ?

[2018-04-15 18:42] nitin525 commented on #81
The values are saved uniquely for each of the boolean data type. Closing issue.

[2018-04-15 18:42] #81 closed

[2018-04-16 10:36] gauravniv commented on #37
Hey @scottyab any timeline on the availability of the fix? Sorry to be a bother , but I have been using the library from a long time and the crashes due to this issue are piling up now. As a work around for now I've stopped storing ints and storing strings instead!

[2018-04-24 20:38] oseparovic commented on #77
I tried using Jitpack and when I update my dependency to either version v0.1.5 or v0.1.6 I seem to lose my stored data to when installing overtop of 0.1.4. Is this expected @niqdev? I saw some commits that looks like the encryption was changed for 0.1.5

[2018-04-24 20:45] niqdev commented on #77
@oseparovic [this](https://github.com/openwebnet/openwebnet-android/commit/9aad28d9c8c4953566306ae2b0878d319c286311) is how I fix it in my project, unfortunately I had to "keep" that [bug](https://github.com/scottyab/secure-preferences/commit/f7a6e8b1a0961d1b96d848ef996c92ed732a0324) to maintain compatibility

[2018-04-24 20:46] oseparovic commented on #37
I'm still seeing this as well on 0.1.4. It's fairly rare though for whatever reason.

This is the relevant section of the stacktrace:
[code]

For performance reasons I've created a singleton out of our secure preferences as running the constructor can be very slow so I want to do that as little as possible:
[code]

Any suggestions would be appreciated. I tried updating to v0.1.5 or v0.1.6 from jit

[2018-04-24 21:16] oseparovic commented on #77
@niqdev thanks for the quick answer and explanation. I guess that means my secure prefs right now are stored in a file called <obfuscatedKey> with passkey <preferencesName.xml>

[2018-04-24 21:28] niqdev commented on #77
I'm not sure, but what I remember when I figure out the issue in my case is that between 0.1.4 and 0.16 the obfuscated text was much shorter in the former and I think it was due to the way I invoked the constructor, just try to switch between the versions and look at the preferences in the emulator

[2018-04-25 09:05] gauravniv commented on #37
One possible solution to this is to stop using the getInt method altogether. I have created a wrapper that created an object for every shared pref int operation, that object holds the default value expected. When reading/writing to prefs just perform a string operation (read and parse to int/ String.valueOf(int) when writing) rather than int, catch the exceptions being thrown yourself, and return

[2018-04-25 09:06] gauravniv commented on #37
public class IntPreference {
  private final SharedPreferences preferences;
  private final String key;
  private final int integerDefaultValue;
  private final String defaultValue;
  //using String because of getInt issues mentioned here:
  // https://github.com/scottyab/secure-preferences/issues/37

  public IntPreference(final SharedPreferences preferences, final String key) {
    this(preferen

[2018-04-30 10:58] tarunattri opened #82 "SecuredPreference returns null in application class."
In my use case I have to check for a String stored in SecuredPreference in Application class onCreate() method.

For that I try to get the String from SecuredPreference in onCreate of MyApplication class. but here most of the times, SecuredPreference returns null values.

If i add same code in my activity, it returns non null  value.

Looks like SecuredPreference is taking time to intialize. Any h

[2018-05-17 01:50] holysheep commented on #82
Did you use common preference filename for your shared preferences?
What is the context passed in SecurePreferences constructor?

Problem somehow can be caused by decryption itself, try to breakpoint encryptedValue in SecurePreferences to check it's presence:
[code]

[2018-05-17 04:14] tarunattri commented on #82
PFB my answers inline :
**Did you use common preference filename for your shared preferences?** : Yes I used common preference File name.
**Which context passed in SecurePreferences constructor?** IN Application class's onCreate(), context of application is passed. In case of LauncherActivity class, context of Launcher Activity is passed.

**Problem somehow can be caused by decryption itself** :

[2018-06-07 06:41] harini9804 opened #83 "Retrieving password"
In v0.1.4, we use `val prefs = SecurePreferences(context, "userpassword", "my_user_prefs.xml")` to store the user's password which is `"userpassword"`. How do we retrieve this value for authentication purposes?

[2018-06-18 10:37] davidmigloz opened #84 "Do not hold user password in String object, use Char[] instead"
A cardinal rule of passphrases in Java is: do not hold them in String objects. You have no means of clearing those from memory, as a String is an immutable value.

Instead of String, use Char[] for any sensitive data. When all operations are finished with Char[], it can be overwritten with zero’s or junk text to clear it from memory.

Reference:
https://nvisium.com/blog/2016/03/31/secure-password-

[2018-06-21 11:03] Plinzen commented on #73
Hi,
is there a release date for this fix? In 0.1.6 it's still present:

[code]

[2018-09-26 11:53] danilodequeiroz commented on #64
You can keep your SecurePreferences instance as a singleton and create it on your Application class along with Fabric and others stuffs, my app has a splash screen so the user won't notice the delay.

[2018-10-01 13:39] deathstroke007 commented on #83
It is not used to store the user_password int he sharedPreferences. You are passing the user_password as the Key to the SecuredPreferences method and using the user_password as the key it will encrypt the shared preferences file.

[2018-10-10 19:37] linakis commented on #79
well the method is there https://github.com/scottyab/secure-preferences/blob/f7a6e8b1a0961d1b96d848ef996c92ed732a0324/library/src/main/java/com/securepreferences/SecurePreferences.java#L390 so I guess you are missing something.

[2018-10-24 13:28] LosDanieloss commented on #73
@scottyab Any progress on that?

[2018-10-25 10:55] awasisto opened #85 "Hashing the keys broke the getAll() and onSharedPreferenceChanged(SharedPreferences, String) methods"
The keys returned by the `SecurePreferences#getAll()` method or passed through the `OnSharedPreferenceChangeListener#onSharedPreferenceChanged(SharedPreferences, String)` method are the hashed keys instead of the real keys.

Example:

[code]

I think the keys shouldn't be hashed since they shouldn't contain any user data.

[2018-10-29 17:46] franmontiel opened #86 "Create tag 0.1.7"
There was a bug on 0.1.6 that has been solved but there is no release of a new version and we need to rely on -SNAPSHOT to use the dependency (as for some reason the build of a particular commit do not work on JitPack).

If you can create a tag for this bugfix we can avoid relying on SNAPSHOT builds that can make our app prone to failure due to future changes.

Thanks for your great work with the

[2018-11-09 14:01] jmcarcedo opened #87 "SecurePreferences.getString() throws java.lang.IllegalStateException"
I'm currentlly working in a proyect that uses a library to wrap secure-preferences. Google Play is recently reporting crashes in production with android 8.0 and 8.1 devices (mostly Galaxys S7, S9, A7 and A8) when trying to get a values from secure preferences.

When doing a SecurePreferences.getString() we recieve a java.lang.IllegalStateException and we can`t figure out where is the actual proble

[2018-12-02 14:05] deathstroke007 commented on #35
I am handling this like  -

[code]

am I doing it the right way?

Recently, got the error in Samsung 4.1.2 device

[2019-01-19 20:04] willswinson0 opened #88 "Crashing in API 28 (Android Pie) s== null (DO NOT USE THIS LIBRARY, it is completely broken)"
2019-01-19 13:02:09.533 3402-3402/com.strongapps.frettrainer.android E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.strongapps.frettrainer.android, PID: 3402
    java.lang.ClassCastException: s == null
        at com.securepreferences.SecurePreferences.getInt(SecurePreferences.java:389)

Crashes in Android API 28 when trying to get a pref.

[2019-01-21 13:34] wantroba commented on #88
It happened to me

[2019-01-21 14:16] vinojvetha commented on #35
I also faced the same crash.Is this crashed already fixed?.What is the newest version of this library?.I can see 0.1.6 in release notes.But i could not find the latest version of this application.How can i avoid this crash?.

[2019-01-21 16:09] vinojvetha commented on #38
@synman i got ...Failed to resolve: com.github.scottyab:secure-preferences:v0.1.6

[2019-01-21 16:13] synman commented on #38
make sure you have gradle configured properly:

https://jitpack.io/#scottyab/secure-preferences/v0.1.6

[2019-01-21 16:46] vinojvetha commented on #38
@synman Thanks for your comments..But i faced Android dependency 'com.scottyab:aes-crypto' has different version for the compile (0.0.4) and runtime (0.0.5) classpath. You should manually set the same version via DependencyResolution.Can you help me please.

[2019-01-22 06:15] vinojvetha commented on #38
What is the new version of this library **compile group: 'com.scottyab', name: 'aes-crypto', version: '0.0.5'** or 	        **implementation 'com.github.scottyab:secure-preferences:v0.1.6'**

[2019-01-23 06:57] vinojvetha commented on #35
@deathstroke007 Is above fix is work for Samsung 4.1.2 device?.

[2019-01-23 12:56] deathstroke007 commented on #35
I haven't tested it. But it will work out since i am catching the exception and using generatekey(). Please feel free to test and intimate me with the results.

[2019-02-01 19:54] deathstroke007 opened #90 "Does this library needs to update the TragetSDKversion to 26?"
I update the android application recently and found out that there is warning regarding targetting API 26 or above. I have already set the target SDK version to 26 but I am afraid I have to update the library those are not targetting API 26. is it so? I can't see any updates of this library regarding this.

[2019-02-03 17:58] willswinson0 commented on #88
Every user in my app is now getting this crash in production when upgrading to Pie.

[2019-02-03 17:58] willswinson0 commented on #87
Same. Can't figure out what it is, and now getInt is crashing in prod and my users are having to re-install the entire app. Unbelievable.

[2019-02-03 18:38] willswinson0 commented on #88
Dug into the crash, got all the way to AesCbcWithIntegrity returning an exception on line 409 in the "decrypt" method as shown below.

`throw new GeneralSecurityException("MAC stored in civ does not match computed MAC.");`

[2019-02-03 19:13] willswinson0 commented on #88
https://android-developers.googleblog.com/2018/03/cryptography-changes-in-android-p.html

[2019-02-03 22:33] willswinson0 commented on #88
Related: https://github.com/tozny/java-aes-crypto/issues/19

[2019-02-03 23:05] willswinson0 commented on #88
Problem is most likely caused by getSerialNumber returning "UNKNOWN" in SDK 28.

Need to check for permission and then call Build.getSerial() if API version is >= 28.

[code]

[2019-02-10 04:24] icoolguy1995 commented on #88
Experienced the same. Has anyone figured out any workaround?

[2019-02-14 04:56] willswinson0 commented on #88
I'm going to make my own branch since this guy's not going to do anything to help us.

Gonna create a new constructor that allows a context and salt parameter, and calls the other constructors. Then, on the app side, you should be able to get the serial of the device however you want, and pass it into the salt param so the app doesn't get "UNKNOWN" for the salt and crash the app for upgrading user

[2019-02-14 09:56] scottyab commented on #88
Hey, apologies for the radio silence I've got a stack of other things competing for my time. Please do branch an if you wish to create Pull Request and I'll review and hopefully merge/release.
In fact I'm looking for others to help maintain this library so if people interested the way to start is a PR to improve/fix something. Thanks

[2019-02-14 13:35] Goran1708 commented on #88
Happening to me also.

[2019-02-15 08:40] Goran1708 commented on #88
Its ok if we drop compileSdkVersion from 28 to 27 and targetSdkVersion from 27 to 28. This is the safest fix until gets handled

[2019-02-16 22:57] hermant2 commented on #88
I found the cause of this crash, and it does not look like a simple fix.  It's happening due to this method: https://github.com/scottyab/secure-preferences/blob/master/library/src/main/java/com/securepreferences/SecurePreferences.java#L233

https://developer.android.com/reference/android/os/Build.html#SERIAL
The library uses reflection to get the device's SERIAL, which was deprecated in API level

[2019-02-18 14:21] rwmobi commented on #88
This happened to all my projects using this library, and it has been a disaster. For my case it looks like users reinstalling the App can't solve the problem, because old users got their App Data restored automatically as part of my system design. Very much appreciated to know if there's a way to get this patched if not downgrading the SdkVersion from 28 to 27.

[2019-02-18 14:45] willswinson commented on #88
Downgrading to the sdk version 27 does not fix the issue for users who have already upgraded. It is not a full solution. Once it kicks in, you either have to screw the users who already upgraded (who will crash after you revert back to 27) or keep screwing the users who are in the process of upgrading.

I submitted a PR that will allow us to use a custom salt in the SecurePreferences constructor.

[2019-02-18 15:30] Goran1708 commented on #88
There is fix for this already here https://github.com/scottyab/secure-preferences/pull/67 which is merged in master, but I guess CI build is failing or what ever and because of that code is not deployed. @scottyab can you check why CI build is failing, adding salt manually should fix this problem.

Also FYI it should not make this backwards compatible, users who were getting "unknown" from `getDev

[2019-02-18 16:40] rwmobi commented on #88
I noticed something strange probably dated back to early January, in the way that `.getString(...)` is returning `null` on some devices even I have supplied a default value.

I did not have the time to trace back to the source, so ended up I just added additional checking and assigned back the default value in case `.getString(...) ` returns `null`. This is not perfect, but it is good enough to st

[2019-02-19 02:30] willswinson commented on #88
@Goran1708 Why wouldn't passing "UNKNOWN" as the salt fix their issue? As I said, if they are using UNKNOWN as the salt already from reinstalling, just pass that as the salt and that should fix it for those users.

@scottyab Could you please merge these PRs? We need custom salts.

[2019-02-19 10:09] Goran1708 commented on #88
How do you know all users are getting "unknown" and what about those users that do not use API 26+ it will then be broken for them because they are getting serial number. This either needs some sort of migration or upon initialisation to check if we have correct salt and password, if not, recreate sharedPrefs file by our passed in values.

[2019-02-20 15:26] willswinson commented on #88
@Goran1708

Because that's what that method returns once you upgrade to Android Pie.  So every user that has upgraded will be using "UNKNOWN" as their salt.

They are still using the serial number. So you can check if they are still using serial (meaning they haven't upgraded), and keep using the serial as the salt.

It shouldn't need that. But it doesn't matter, because this guy is never going to

[2019-02-28 10:58] gi097 commented on #88
See my attempt at PR #92. Note that you need to ask your user for the `READ_PHONE_STATE` within the app. This PR will use the "UNKNOWN" for decryption as fallback when decryption with the serial number didn't work.

[2019-03-03 05:49] willswinson commented on #88
@gi097 I've had a PR out for almost 2 weeks that allows you to choose which salt you want with just the basic constructor. The issue is @scottyab won't merge any PR and won't respond to anything.

[2019-03-05 14:44] gkgio commented on #88
how to clear all preferences when in Android P have this error, in order to in the future use serial equals "unknown"?

[2019-03-11 09:59] vinojvetha opened #93 "After upgrade Android OS Version 9 (pie) the values are not stored and retrieved."

[2019-03-11 09:59] vinojvetha commented on #93
Anybody have you faced this problem??.

[2019-03-12 01:10] kyuseokyi commented on #93
salt value changed on the pie. you can check here
https://github.com/scottyab/secure-preferences/pull/92

[2019-03-12 09:17] rwmobi commented on #88
Surely I know @scottyab can't be blamed for because he has been contributing for free, however would it be a way out if somebody else is willing to takeover this library and keep it going? It has been a very handy and useful library and just too bad to have an ending like this.

[2019-03-12 09:51] scottyab commented on #88
Apologies for the lack of comms. I've merged your PR @willswinson0 for to allow custom salt. I'll tag and push this as `0.1.5`

[2019-03-12 10:23] scottyab commented on #86
Done #94 Thanks for the feedback

[2019-03-12 10:23] #86 closed

[2019-03-12 10:23] scottyab commented on #84
Totally agree. PR welcome.

[2019-03-12 10:24] scottyab commented on #90
Resolved in #94 thanks for the question

[2019-03-12 10:24] #90 closed

[2019-03-12 10:25] scottyab commented on #80
Should be resolved in #94

[2019-03-12 10:25] #80 closed

[2019-03-12 10:26] scottyab commented on #93
duplicate of #88, Thanks for raising. The 0.1.7 release gives an option to pass you're own salt

[2019-03-12 10:26] #93 closed

[2019-04-11 20:45] pedrodimoura commented on #21
I am facing the same problem.
Its really weird!

`val sp = SecurePreferences(context, context.packageName, PREFS)`

I can test SharedPreferences normally but, when I try to get an instance of SecurePreferences with a mocked context throws an NullPointerException in line 85 because its a mocked context and the getDeviceSerialNumber cannot get an instance of ContextResolver in this method:

[code]

[2019-04-15 12:11] mehdico opened #95 "all sharedPrefrences remove after app crash's"

[2019-05-01 06:02] KumariAnjuThakur opened #96 "Security Scan failed"
Hi Scott,

After security scan by our tool, this lib gets failed because follows threat is found.

**Issue:** Use of a Broken or Risky Cryptographic Algorithm

**Description:** The use of a broken or risky cryptographic algorithm is an unnecessary risk that may result in the disclosure of sensitive information.
The use of a non-standard algorithm is dangerous because a determined attacker may be a

[2019-05-28 12:54] shetmobile commented on #37
i've found problem. if your key has digit then this exception happend. just remove digit from your KEY

[2019-07-01 07:25] nick0lay opened #97 "securePref.getAll() return map where only values decrypted and keys encrypted"
Hi! Is this expected behavior return only decrypted key in map when use SecurePreference.getAll() method?

[2019-07-15 14:47] deathstroke007 opened #98 "After updating to Android Q, i am not able to retrieve the data from the Secure preferences?"
I upgraded my device to Android Q and now I am not able to retrieve the data stored in the SecurePreferences. Android Q release mode is around the corner and now it will be a disaster for my users if they are not able to see their data which is empty.

Please tell me if there is any way to tackle this bug.

[2019-07-22 08:34] footyapps27 opened #100 "Fix getAll method to return the correct value for StringSet."
The current implementation of getAll returns hashed keys & decrypted values (as Strings).

However, it does not return values correctly when the stored type is a Set<String>.

For migration to Android Q, it is important that we get all the decrypted values that are stored in the list & migrate using our own salt.

[2019-07-22 08:35] footyapps27 commented on #100
I have created a PR #99 to fix this issue.
Please considering merging the same & making a new release.

[2019-07-22 08:44] footyapps27 commented on #85
@awasisto I think this is the intended behaviour. The library does not store the keys & uses a hash of the keys for storing the values.

With the current implementation, it is not possible to get the actual keys.

[2019-07-22 08:50] footyapps27 commented on #98
@deathstroke007 Android Q does not allow developers to retrieve Device Serial number anymore.
Thus you need to migrate your existing application data to the new version of the library, where you will need to pass your own data.

I will be creating a PR explaining how we can migrate to the new version of the library & your existing data (if we can still access Serial Number).

Will tag in once comp

[2019-07-22 09:12] morisakisan opened #101 "AndroidQ will no longer support android.preference."
https://developer.android.com/preview/behavior-changes-all#preferences

Support for the android.preference library is discontinued as described in the link above. There are places that use android.preference, so please change to AndroidX Preference.

[2019-08-18 23:17] deathstroke007 commented on #98
is there a new version of the library? I am afraid there isn't any new release for this project. I have been using v0.1.7 which I think is the latest one. Anyways I am using another library which is working fine as of now. And you cannot get the Serial Number from Android Q. Google won't let you since it is a non-resettable identifier. Looking forward to the new release with the fix. Instead of Se

[2019-08-30 14:20] scottyab commented on #98
new version 0.1.8 incoming to fix the crash on Android Q/10 (thanks for reporting). However If you are using the default Salt (which is Device Serial) I don't see that there's any way to add a migration option to decrypt previousily encrypted values as once the device upgraded to Android Q, they'll be no way to decrypt the values encrypted. Only suggestion is to migrate now to a Salt you provide y

[2019-08-30 17:15] scottyab commented on #100
Thanks @footyapps27, you're a ⭐️

[2019-08-30 17:15] #100 closed

[2019-08-30 17:16] scottyab commented on #97
Hey @nick0lay Expected. the keys aren't encrypted as such, they are hashed. So there's no way to get back to the original value, the theory is you have it already.

[2019-08-30 17:16] #97 closed

[2019-08-30 17:17] scottyab commented on #101
Hi @morisakisan probably not gonna make this change given Android X Security library will be the perferred solution going forward.

[2019-08-30 17:17] #101 closed

[2019-08-30 17:18] #88 closed

[2019-08-30 17:19] #78 closed

[2019-08-30 17:20] scottyab commented on #72
This is released. Thanks for rasing this .

[2019-08-30 17:20] #72 closed

[2019-09-13 13:27] kkazakov commented on #98
@scottyab we really need the migration guide ... more and more users are upgrading to Android Q and we're losing them.

[2019-09-20 07:00] dzungpv commented on #98
@kkazakov since Android Q not possible to get serial and you use it to store user data, so before user update to Q,, release and update and store the serial in normal preference, after update to 10 you use it as salt and you read serial not from user device but preference.

[2019-09-20 13:37] kkazakov commented on #98
@scottyab I know that ... I had to do a workaround and did "migration" pre- Android 10 and it works when they update, with 1.0.7 now. I just had to dig deeper to find out how it works, but managed it :)

[2019-09-26 10:26] ovitrif opened #103 "Android 10 - android.preference deprecated"
We should switch to androidx.preference since the android.preference library is deprecated as of Android 10

[2019-10-01 10:05] nitin525 commented on #93
would upgrading the lib from 0.1.5 to 0.1.7 take care of the app upgrade issue or we need to have two separate constructors? One for 28 and above?

[2019-10-01 10:22] nitin525 commented on #93
would upgrading the lib from 0.1.5 to 0.1.7 take care of the app upgrade issue or we need to have two separate constructors? One for 28 and above with a salt?

[2019-10-11 05:44] ashishdimi09 opened #104 "Security alert on our production app on google play console"
Hi,

We are seeing a warning on our production app on google play console. The warning states:

The article the warning is referring to https://support.google.com/faqs/answer/9450925

Can someone help me to resolve this Security alert warning?

[2019-10-17 14:31] ArcherEmiya05 opened #105 "Android Canary 3.6 not building"
After thinking what is the root cause for a gradle build to fail. I suddenly remember your user name scottyab as I look to the error log and I believe that this is related to some of your repo.

`ERROR: Unable to resolve dependency for ':app@debug/compileClasspath': Failed to transform artifact 'aes-crypto.aar (com.scottyab:aes-crypto:0.0.5)' to match attributes {artifactType=jar}.`

[2019-10-23 19:15] SamIAmHarris commented on #105
I am also getting this issue on Android Studio 3.6 Beta. I tried clearing out gradle caches but that didn't fix it.

[2019-10-30 20:23] Metalingus commented on #105
Same thing for Android Studio 4.0 preview

[2019-10-31 09:28] scottyab commented on #105
Sorry to hear that. Gonna be prompting this more actively but please switch away from secure-preferences to AndroidX Security I wrote a short blog intro to it here -> https://scottyab.com/2019/10/androidx-security-library/

[2019-12-19 09:20] IBeiBei opened #106 "Value can't be saved when put value after clear() and kill app in background."
Demo project - MainActivity:
        @DebugLog
	public void onGetButtonClick(View v) {
		final String value = getSharedPref().getString(MainActivity.KEY, null);
        toast(MainActivity.KEY + "'s, value= " + value);
	}
	@DebugLog
	public void onSetButtonClick(View v) {
	        getSharedPref().edit().clear().commit();// Add this line
		getSharedPref().edit().putString(MainActivity.KEY, MainActiv

[2020-01-22 18:36] umeshNova commented on #98
hello, @scottyab its a really nice library and I really appreciate your efforts.

I see that you have given the fix to this and this has been updated in the list of changes as 0.1.8. But it was never released. Can you please release it over maven, if this is stable. Again, I appreciate your help.

[2020-01-23 06:58] codemonk03 commented on #98
Hey, @scottyab !
Appreciate this awesome library.. I see that v0.1.8,  which has the Android 10 fix, is marked released but not yet pushed to maven central. Could you also give an update there if all good??

Thanks :)

[2020-02-03 12:57] shuaib29 opened #107 "DeterministicAeadFactory.java line 13"
Fatal Exception: java.lang.SecurityException: Could not decrypt key. decryption failed
       at b.r.a.a.a(EncryptedSharedPreferences.java:22)
       at b.r.a.a.getAll(EncryptedSharedPreferences.java:4)
       at b.r.a.a$b.commit(EncryptedSharedPreferences.java:2)
       at android.os.Handler.handleCallback(Handler.java:751)
       at android.os.Handler.dispatchMessage(Handler.java:95)
       at a

[2020-02-06 17:54] wiztensai commented on #106
in my case, it work if your sintax like this:
`getSharedPref().edit(true, {
clear()
})`

[2020-04-27 13:06] kartik1225 commented on #98
Any update on this?

[2020-05-14 09:46] gilshallem commented on #31
### Still happening
**Runining this code**
`   SecurePreferences.Editor prefs = new SecurePreferences(mContext).edit();`

**Gives this error**

       at com.tozny.crypto.android.AesCbcWithIntegrity$PrngFixes.installLinuxPRNGSecureRandom(AesCbcWithIntegrity.java:764)
       at com.tozny.crypto.android.AesCbcWithIntegrity$PrngFixes.apply(AesCbcWithIntegrity.java:680)
       at com.tozny.crypto.andr

[2020-06-22 09:21] akoua opened #108 "Flutter"
Please can you implement this library in flutter ?

[2020-06-22 13:27] scottyab commented on #108
Thanks for the question/request, but that's not really something that's in the scope of this Android-specific library.

[2020-06-22 13:27] #108 closed

[2020-09-08 04:20] berneberne opened #109 "How to use sharedPreference in flutter to stay user loggedin in flutter using a setBool and GetBool"
I am practicing a email authentication in flutter and almost everything is over. Now, i want to use sharedPreference to stay the user logged in. I have tried something, but i don't get result. I am using a bool type to get whether user loggedIn or not. But i am very new to this, can you help me in this? and is there anything i am missing out?

This is the sharedPreference static Class i am using
[

[2021-03-17 09:18] swarupbhc opened #110 "[ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: MissingPluginException(No implementation found for method getAll on channel plugins.flutter.io/shared_preferences)"
[ERROR:flutter/lib/ui/ui_dart_state.cc(186)] Unhandled Exception: MissingPluginException(No implementation found for method getAll on channel plugins.flutter.io/shared_preferences)

  sdk: ">=2.7.0 <3.0.0"
  shared_preferences: ^2.0.5

[2021-03-17 09:19] #110 closed, assigned to nobody

[2021-03-23 09:48] shahnawazahmed88 commented on #98
@scottyab is not released yet v0.1.8?

[2021-05-20 10:53] ismailtosun opened #111 "java.security.KeyStoreException: the master key android-keystore://_androidx_security_master_key_ exists but is unusable"

[2021-11-23 10:42] isasayed commented on #109
As you wanted to use `SharedPreference ` for flutter I would recommend you to use this instead
[https://pub.dev/packages/flutter_secure_storage](url)
It works exactly like encrypted `SharedPreference `.

[2021-11-23 10:55] scottyab commented on #109
Agreed. I would not use this library it's not maintained as Google's EncryptedSharedPreferences from androidx.security should be preferred.

[2021-11-23 10:55] #109 closed, assigned to nobody

[2022-03-01 13:08] #103 closed

[2022-03-01 13:08] ovitrif commented on #103
Closed since there are no maintainers and users know this after starting to read the README